.modal {
  background: #fff;
  position: fixed;
  left: 50%;
  right: 50%;
  transform: translate(-50%, 0%);
  width: 351px;
  max-width: calc(100% - 24px);
  top: 8%;
  border: 2px solid #444;
  max-height: 91%;
  height: 550px;
  z-index: 1010;
}

.modalOverlay {
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.innerModal {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 20px);
  height: calc(100% - 30px);
  padding: 10px;
  padding-bottom: 20px;
  overflow: auto;
}

.modal .closeIcon {
  position: absolute;
  height: 30px;
  right: 0px;
  bottom: 0px;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .modal {
    width: 600px;
    max-width: calc(100% - 44px);
  }
  .modal .closeIcon {
    right: -15px;
    bottom: -15px;
  }
  .innermodal {
    padding: 20px;
    height: calc(100% - 40px);
  }
}
